# Bonus: Temperature Analysis I

In [16]:
import pandas as pd
from datetime import datetime as dt

In [17]:
# "tobs" is "temperature observations"
df = pd.read_csv('hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [19]:
# Convert the date column format from string to datetime
start_dt = (dt.strptime(start_date, "%Y-%m-%d")).date()
end_dt = (dt.strptime(end_date, "%Y-%m-%d")).date()

NameError: name 'start_date' is not defined

In [ ]:
# Set the date column as the DataFrame index

In [ ]:
# Drop the date column

### Compare June and December data across all years

In [ ]:
from scipy import stats

In [ ]:
# Filter data for desired months

In [ ]:
# Identify the average temperature for June

In [ ]:
# Identify the average temperature for December

In [ ]:
# Create collections of temperature data

In [ ]:
# Run paired t-test

### Analysis